@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;

<div class="main-container" id="container">
    <div id="content">
        <div class="w-100 position-relative in-tbl-btns custom-tbl">
            <div class="grid-btns">
                <button type="button" id="btnWorkScheduleAdd" class="btn btn-sm btn-themebtn" data-toggle="modal" data-target="#WorkScheduleModal" title="Add New">
                    <span class="intbl-add-icon"></span>
                </button>
                <button type="button" id="btnWorkSchedulePull" class="btn btn-sm btn-themebtn" title="Pull data from S1" onclick="PullS1Data()" >
                    <span class="intbl-add-icon"></span>
                </button>
            </div>
            <table id="WorkScheduleGridView" class="table w-100 nowrap">
            </table>
        </div>
        @*<table id="WorkScheduleGridView" class="table w-100 nowrap">
            </table>*@
    </div>
</div>


<!-- Jquery DataTable JS library -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/CDTGrid.js"></script>
<script>
    var table = null;
    var isModifyPerm =@security.IsPCModify(ModuleNameList.Management_and_Maintanence).ToString().ToLowerInvariant()? "" : 'hidden';
    var isDeletePerm =@security.IsPCDelete(ModuleNameList.Management_and_Maintanence).ToString().ToLowerInvariant()? "" : 'hidden';
    isModifyPerm = '';
    isDeletePerm = '';
    var table_columns = [];
    var actionCol = {
        data: null, name: "Action", title: "Action", autoWidth: false, width: 25, sortable: false, render: function (data,type, full) {
            var actionSection = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns'  id='formV1DtlEdit'" + isModifyPerm + " data-toggle='modal'   data-target='#WorkScheduleModal' onclick='javascript:EditFormV1WorkSchedule(this,0);'><span class='edit-icon'></span> Edit</button><button type='button' class='dropdown-item editdel-btns'" + isDeletePerm + " onclick='javascript:DeleteV1WorkSchedule(" + data.pkRefNo + ");'><span class='del-icon'></span> Delete</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' href='#'  onclick='javascript:SaveFormV1WorkSchedule(" + data.pkRefNo + ",1);'><span class='view-icon'></span> View</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' onclick='javascript:PrintForm(" + data.pkRefNo + ");' href=''><span class='print-icon'></span> Print</button></div></div>";
            var viewaction = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns'" + isDeletePerm + " onclick='javascript:DeleteV1WorkSchedule(" + data.pkRefNo + ");'><span class='del-icon'></span> Delete</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' href='#'  onclick='javascript:SaveFormV1WorkSchedule(" + data.pkRefNo + ",1);'><span class='view-icon'></span> View</button><button type='button' class='dropdown-item editdel-btns' id='btnAssetView' onclick='javascript:PrintForm(" + data.pkRefNo + ");' href=''><span class='print-icon'></span> Print</button></div></div>";
            return full["submitSts"] == true ? viewaction : actionSection;
        }
    };
    var roadCodeCol = { data: "roadCode", name: "RoadCode", title: "Road Code", autoWidth: true,  sortable: true };
    var roadNameCol = { data: "roadName", name: "RoadName", title: "Road Name", autoWidth: true, sortable: true };
    var chainageCol = { data: "chainage", name: "Chainage", title: "Chainage Location", autoWidth: true, sortable: true };
    var siteRefCol = { data: "siteRef", name: "SiteRef", title: "Site Reference", autoWidth: true, sortable: true };
    var startTimeCol = { data: "startTime", name: "StartTime", title: "Schedule Time to Start", autoWidth: true, sortable: true };
    var remarksCol = { data: "remarks", name: "Remarks", title: "Remarks", autoWidth: true, sortable: true };

    table_columns.push(actionCol);
    table_columns.push(roadCodeCol);
    table_columns.push(roadNameCol);
    table_columns.push(chainageCol);
    table_columns.push(siteRefCol);
    table_columns.push(startTimeCol);
    table_columns.push(remarksCol);


    function PrintForm(id) {
        window.location.href = '/download/PrintForm?id=' + id + "&formname=FormD";
    }

    var filterData = new Object();
    function InitializeGrid() {
        var _currentGridSettings = new CustomGridSettings();
        $.extend($.fn.dataTable.defaults, _currentGridSettings);

        if (table != null) {
            table.destroy();
            $('#WorkScheduleGridView').empty();
        }


        table =  $('#WorkScheduleGridView').DataTable({
            ajax: {
                url: "/MAM/GetWorkScheduleGridList?V1PkRefNo=" + $("#FormV1_PkRefNo").val(),
                type: "POST",
                datatype: "json",
                data: {
                    filterData
                }
            },
            columns: table_columns
        });

       // table.columns.adjust().draw();
    }

    $(document).ready(function () {
        InitializeGrid();
        if ($("#ddlSource").val() == "S1") {
            $("#btnWorkScheduleAdd").hide();
            $("#btnWorkSchedulePull").show();
        }
        else if ($("#hdnView").val() != "1") {
            $("#btnWorkScheduleAdd").show();
            $("#btnWorkSchedulePull").hide();
        }

    });
</script>