################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RAMS/Web/RAMMS.Web.UI/wwwroot/Uploads/FormW1/apref11/WaterwayUpstream
/.vs/VSWorkspaceState.json
/.vs/RAMMS/v16/.suo
/RAMS/Web/RAMMS.Web.UI/Views/InstructedWorks/_AddFormW2.cshtml
/.vs/RAMMS/v17
/RAMS/Web/RAMMS.Web.UI/.vs/RAMMS.Web.UI/v17
/RAMS/Web/RAMMS.Web.UI/.vs/RAMMS.Web.UI/DesignTimeBuild
/RAMS/Web/RAMMS.Web.UI/Properties/PublishProfiles/FolderProfile1.pubxml
/RAMS/Web/RAMMS.Web.UI/Properties/PublishProfiles/FolderProfile1.pubxml.user
/.vs/RAMMS2.0/v17/workspaceFileList.bin
/RAMS/Web/RAMMS.Web.UI/wwwroot/Templates/FormQA1202205022349067474132.xlsx
/RAMS/Web/RAMMS.Web.UI/wwwroot/Templates/FormQA1202205042111171570501.xlsx
/RAMS/Web/RAMMS.Web.UI/wwwroot/Templates/FormQA1202205042246586657822.xlsx
