@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
<div class="main-container" id="container">
    <div id="content">
        <div class="w-100 position-relative in-tbl-btns custom-tbl">
            @if (security.IsPCModify(ModuleNameList.Management_and_Maintanence))
            {
                <div class="grid-btns">
                    <button type="button" id="btnLabourAdd" class="btn btn-sm btn-themebtn" data-toggle="modal" data-backdrop="static"
                            data-target="#FormV2LabourModal" onclick="javascript:EditFormV2Labour(0);">
                        <span class="intbl-add-icon"></span>
                    </button>
                </div>
            }

            <table id="FormV2LabourGridView" class="table w-100 nowrap">
            </table>
        </div>
    </div>
</div>
<!-- Jquery DataTable JS library -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/CDTGrid.js"></script>
<script>
    var isDeletePerm = @security.IsPCDelete(ModuleNameList.Management_and_Maintanence).ToString().ToLowerInvariant()? "" : "hidden";
    //alert(IsView);
    var Lbtable_columns = [];
    var table = null;
    var LbactionCol = {
        data: null, name: "Action", title: "Action", autoWidth: false, width: 20, sortable: false, render: function (data) {
            if (IsView != "1" && (!data.submitStatus)) {
                var actionSection = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns @(ViewBag.view=="1"?"d-none":"")' data-toggle='modal' data-target='#FormV2LabourModal' id='formV2LabourEdit' onclick='javascript:EditFormV2Labour(" + data.pkRefNo + ");'><span class='edit-icon'></span> Edit</button><button type='button' class='dropdown-item editdel-btns' " + isDeletePerm + " onclick='javascript:DeleteFormV2LabourRecord(" + data.pkRefNo + ");'><span class='del-icon'></span> Delete</button><button type='button' class='dropdown-item editdel-btns' id='btnLabView' href='#'  data-toggle='modal' data-target='#FormV2LabourModal'  onclick='javascript:EditFormV2Labour(" + data.pkRefNo + ",1);'><span class='view-icon'></span> View</button></div></div>";
                return actionSection;
            }
             else {
                var actionSection = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns' id='btnLabView' href='#'  data-toggle='modal' data-target='#FormV2LabourModal'  onclick='javascript:EditFormV2Labour(" + data.pkRefNo + ",1);'><span class='view-icon'></span> View</button></div></div>";
                return actionSection;
            }
        }
    };

    var LbCodeCol = { data: "labRefCode", name: "LbCode", title: "Code", autoWidth: false, width: 60, sortable: false };
    var LbDescCol = { data: "desc", name: "LbDescription", title: "Description",autoWidth: true, sortable: false };
    var LbRemarkCol = { data: "remark", name: "LbQuantity", title: "Remark", autoWidth: true, sortable: false };

    Lbtable_columns.push(LbactionCol);
    //Lbtable_columns.push(LbrefNoCol);
    Lbtable_columns.push(LbCodeCol);
    Lbtable_columns.push(LbDescCol);
    Lbtable_columns.push(LbRemarkCol);

    function PrintForm(id) {
        window.location.href = '/download/PrintForm?id=' + id + "&formname=FormD";
    }

    var LbfilterData = new Object();

    function lInitializeGrid() {

        var _LbcurrentGridSettings = new CustomGridSettings();
        $.extend($.fn.dataTable.defaults, _LbcurrentGridSettings);
        //if (id == undefined) {
        //    id = "0";
        //}
        if (table != null) {
            table.destroy();
            $('#FormV2LabourGridView').empty();
        }

        table = $('#FormV2LabourGridView').DataTable({
            ajax: {
                url: "/MAM/LoadFormV2LabourList?id=" + $("#FV2PkRefNo").val(),
                type: "POST",
                datatype: "json",
                data: {
                    LbfilterData
                }
            },
            columns: Lbtable_columns
        });
        table.columns.adjust().draw();
    }

    $(document).ready(function () {
        lInitializeGrid();
        loTable = $('#FormV2LabourGridView').DataTable();
        IsView = $("#hdnView").val();
    });
</script>