@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;

<div class="main-container" id="container">
    <div id="content">
        <div class="w-100 position-relative in-tbl-btns custom-tbl">
            @if (security.IsPCModify(ModuleNameList.Management_and_Maintanence))
            {
                <div class="grid-btns">
                    <button type="button" id="btnEquipAdd" class="btn btn-sm btn-themebtn" data-toggle="modal" data-backdrop="static" data-target="#FormQa1EquipModal" onclick="javascript:EditFormQa1Equip(0);"><span class="intbl-add-icon"></span></button>
                </div>
            }

            <table id="FormQa1EquipGridView" class="table w-100 nowrap">
            </table>
        </div>
    </div>
</div>
<!-- Jquery DataTable JS library -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/CDTGrid.js"></script>
<script>
    var isDeletePerm = @security.IsPCDelete(ModuleNameList.Management_and_Maintanence).ToString().ToLowerInvariant()? "" : "hidden";
    var Eqtable_columns = [];
    var Etable = null;
    var EqactionCol = {
        data: null, name: "Action", title: "Action", autoWidth: false, width: 20, sortable: false, render: function (data) {
            if (IsView != "1") {
                var actionSection = "<div class='btn-group dropright' id='actiondropdown'> <button  type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns @(ViewBag.view=="1"?"d-none":"")' data-toggle='modal' data-target='#FormQa1EquipModal' id='formQa1EquipmentEdit' onclick='javascript:EditFormQa1Equip(" + data.pkRefNo + ");'><span class='edit-icon'></span> Edit</button><button type='button' class='dropdown-item editdel-btns' " + isDeletePerm + " onclick='javascript:DeleteFormQa1EquipmentRecord(" + data.pkRefNo + ");'><span class='del-icon'></span> Delete</button><button type='button' class='dropdown-item editdel-btns'  data-toggle='modal' data-target='#FormQa1EquipModal' href='#' onclick='EditFormQa1Equip(" + data.pkRefNo + ",1)'><span class='view-icon'></span> View</button></div></div>";
                return actionSection;
            }
            else {
                var actionSection = "<div class='btn-group dropright' id='actiondropdown'> <button id='actionclick' type='button' class='btn btn-sm btn-themebtn dropdown-toggle' data-toggle='dropdown'> Click Me </button><div class='dropdown-menu'><button type='button' class='dropdown-item editdel-btns'  data-toggle='modal' data-target='#FormQa1EquipModal' href='#' onclick='EditFormQa1Equip(" + data.pkRefNo + ",1)'><span class='view-icon'></span> View</button></div></div>";
                return actionSection;
            }
        }
    };
    var EqTypeCol = { data: "type", name: "EqType", title: "Type", autoWidth: true, sortable: false };
    var EqPVCol = { data: "pvNo", name: "EqpvNO", title: "P/V No.", autoWidth: true, sortable: false };
    var EqCapCol = { data: "capacity", name: "EqCapacity", title: "Capacity", autoWidth: false, width:80, sortable: false };
    var EqCondCol = { data: "condition", name: "EqCond", title: "Apparent Condition", autoWidth: true, sortable: false };
    var EqRemarkCol = { data: "remark", name: "EqRemarks", title: "Remarks", autoWidth: true, sortable: false };

    Eqtable_columns.push(EqactionCol);
    Eqtable_columns.push(EqTypeCol);
    Eqtable_columns.push(EqPVCol);
    Eqtable_columns.push(EqCapCol);
    Eqtable_columns.push(EqCondCol);
    Eqtable_columns.push(EqRemarkCol);

    function PrintForm(id) {
        window.location.href = '/download/PrintForm?id=' + id + "&formname=FormQa1";
    }

    var EqfilterData = new Object();

    function EqInitializeGrid() {
        var _ecurrentGridSettings = new CustomGridSettings();
        $.extend($.fn.dataTable.defaults, _ecurrentGridSettings);
        
        if (Etable != null) {
            Etable.destroy();
            $('#FormQa1EquipGridView').empty();
        }
        Etable = $('#FormQa1EquipGridView').DataTable({
            ajax: {
                url: "/FormQA1/LoadFormQa1EquipmentList?id=" + $("#formQa1PkRefNo").val(),
                type: "POST",
                datatype: "json",
                data: {
                    EqfilterData
                }
            },
            columns: Eqtable_columns
        });
        Etable.columns.adjust().draw();
    }

    $(document).ready(function () {
        EqInitializeGrid();
        
        IsView = $("#hdnView").val();
        eoTable = $('#FormQa1EquipGridView').DataTable();
        
    });
</script>