<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        JABATAN KERJA RAYA
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="w-100 dt-tbl-section">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="OurRef">
                                    Name of Division
                                </label>
                                @*<input type="text" placeholder="" class="form-control">*@
                                <p class="font-weight-bold"> Miri Division<br />Jabatan Kerja Raya Miri, Menara 2, Lot 3500<br />Kompleks Islam Sarawak, Miri, Jalan Pujut</p>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="OurRef">
                                    Divisional Address 1
                                </label>
                                @*<input type="text" placeholder="" class="form-control">*@
                                <p class="font-weight-bold"> Miri Division<br />Jabatan Kerja Raya Miri, Menara 2, Lot 3500<br />Kompleks Islam Sarawak, Miri, Jalan Pujut</p>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="OurRef">
                                    Divisional Address 2
                                </label>
                                @*<input type="text" placeholder="" class="form-control">*@
                                <p class="font-weight-bold"> Miri Division<br />Jabatan Kerja Raya Miri, Menara 2, Lot 3500<br />Kompleks Islam Sarawak, Miri, Jalan Pujut</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class=" py-2">

                    <div class="form-group col-lg-4">
                        <label for="OurRef">Contract  NO</label>
                        <input type="text" placeholder="" disabled value="PWM/HO/B130/2019(124)" class="form-control" />
                    </div>-->
        @*<div class="form-group col-lg-2">
                <div class="row mt-4">
                    <lable>
                        Agreed Negotiate Rate Date</label>
                        <div class="col-6 pt-1">
                            <label class="checkbox-inline"><input type="checkbox" disabled="" value=""> BQ</label>
                        </div>
                        <div class="col-6 pt-1">
                            <label class="checkbox-inline"><input type="checkbox" disabled="" value=""> Drawing</label>
                        </div>
                </div>
            </div>*@
        <!--</div>
            </div>
        </div>-->
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        CERTIFICATE OF NON-COMPLETION

                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="OurRef">Our Ref / Contract  NO</label>
                            <input type="text" placeholder="" value="PWM/HO/B130/2019(124)" class="form-control">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Date">
                                Date
                            </label>
                            <input type="date" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Your Ref">
                                Your Ref
                            </label>
                            <input type="text" placeholder="" disabled class="form-control">
                        </div>
                        <div class="form-group  col-lg-3">
                            <label for="Your Ref">
                                Service Provider Name
                            </label>
                            <input type="text" placeholder="" disabled class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 1
                            </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 2
                            </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 3
                            </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Phone">Phone Number</label>
                            <input type="text" placeholder="" value="085-431273" disabled class="form-control">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Fax">
                                Fax Number
                            </label>
                            <input type="text" placeholder="" value=" 085-438647" disabled class="form-control">
                        </div>

                    </div>


                </div>

            </div>

        </div>

        <div class="col-12 d-none">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        INSTRUCTED WORK
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-3 float-left w-100">
                    <div class="w-100 dt-tbl-section">
                        <div class="col-lg-12">
                            <label class="mb-0" for="PhysicalWorks">
                                Instructed Work Title
                            </label>
                            <textarea class="form-control" type="text" style="height:80px;" disabled></textarea>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <p style="line-height: 38px; font-size: 17px;" class="mb-3 border mb-3 border w-100 px-4 pt-2 float-left">
                It is hereby certified that you have failed to complete the Instructed Work mentioned above which was issued to you by the
                <span class="float-left mb-2">
                    <span class="float-left">
                        <span class="float-left">"Date for Completion"  stated in S.O.'s Instruction No.:</span>
                        <input type="text" disabled placeholder="" class="float-left form-control border-top-0 border-left-0 border-right-0 font-weight-bold" style="width:150px; margin:0px 5px 0px 0px; border-radius:0px" />

                        <input type="date" disabled class="form-control  border-top-0 border-left-0 border-right-0 float-left font-weight-bold" style=" width: 170px;border-radius:0px ;margin: 0px 8px;border-radius: 0; " />
                    </span>
                    <span class="float-left">  , or within any extended time approved</span>
                </span>


                <span class="float-left mb-3">
                    <span class="float-left"> under  <b style="padding:0px 2px;font-size:20px;">Clause 8.7  </b></span>

                    <span class="float-left">of the Agreement, i.e. on</span>
                    <input type="date" disabled class="form-control  border-top-0 border-left-0 border-right-0 float-left font-weight-bold" style="width: 170px; margin: 0px 8px; border-radius: 0;" />
                    <span class="float-left">and in my opinion the said Instructed Works </span>
                    <span class="float-right w-100 text-left">ought to have been completed.</span>

                </span>



                <span class="float-left"> </span>
            </p>

        </div>
        <div class="col-lg-12">
            <p style="line-height: 38px; font-size: 17px;" class="mb-3 border mb-3 border w-100 px-4 pt-2 float-left">
                <span class="float-left">  In accordance with <b style="padding:0px 2px;font-size:20px;">Clause 8.11</b> of the Agreement, you are hereby informed that you are liable to pay or allow to the Government a sum </span><span class="float-left">
                    <span class="float-left">calculated at the rate of</span>
                    <b style="padding:0px 6px;font-size:20px;"> 0.0219%</b>

                </span>
                <span class="float-left"> per day of the value of this Instructed Work, i.e.  <b style="padding:0px 6px;font-size:20px;"> RM</b></span>
                <span class="float-left"> <input type="text" placeholder="" class="form-control border-top-0 border-left-0 border-right-0 float-left font-weight-bold" style="width:150px; margin:0px 6px; border-radius:0px" /> per day as Liquidated and</span>
                <span class="float-left"> Ascertained Damages for the period during which the said Instructed Work shall so remain and have remain incomplete and i shall certify for deduction such damages from any money due or which may become due to you under this Agreement.</span>
            </p>
        </div>
        <div class="col-lg-12">
            <div class="border px-3 pt-3 pb-1 float-left w-100 d-none">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <label class="mb-0" for="PhysicalWorks">
                            Date of Issuance
                        </label>
                        <input type="date" disabled class="form-control">
                    </div>
                    <div class="col-lg-3 mb-3">
                        <label class="mb-0" for="PhysicalWorks">
                            Date of Agreement
                        </label>
                        <input type="date" disabled class="form-control">
                    </div>
                    <div class="col-lg-3 mb-3">
                        <label> Government calculated Rate</label>
                        <div class="input-group">
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <label> Instructed Work</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">RM</span>
                            </div>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-1 float-left w-100">
                <div class="w-100 dt-tbl-section">
                    <div class="col-12">
                        <div class="row pt-3 pb-1">
                            <div class="form-group col-lg-3">
                                <label for="Designation"> User ID </label>
                                <select class="form-control">
                                    <option> select ID</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="Designation"> Name </label>
                                <input class="form-control" type="text" value="Mohd. Riduan Osman">
                            </div>
                            <div class="form-group col-lg-2 p-0">
                                <label for="Designation"> Designation</label>
                                <input class="form-control " type="text" value=" Regional Manager">
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="Designation"> Office</label>
                                <input class="form-control " type="text">
                            </div>
                            <div class="form-group col-lg-2 pr-0">
                                <label>Date (DD-MM-YYYY)</label>
                                <input type="date" class="datepicker form-control disableinput ">
                            </div>
                            <div class="form-group col-lg-1 text-center">
                                <label>Signature</label>
                                <div class="clear-b mt-2">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-2 float-right text-right custom-footer" style="    position: fixed;
    left: auto;
    bottom: 0px;
    right: 0;
    /* top: 0; */
    background:#fff;
    width: 96%;
    height: 45px;">
    <button type="button" class="btn btn-sm btn-outline-theme" onclick="return ClearFCEM()">Clear</button>
        <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Close</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="saveFCEMBtn" onclick="return checkW2Exist()">Save</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="submitFCEMBtn">Submit</button>
</div>