@using RAMMS.Business.ServiceProvider
@model RAMMS.Web.UI.Models.FormWCWGModel;

<div class="col-12">
    <div class="row">
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        JABATAN KERJA RAYA
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="w-100 dt-tbl-section">

                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label for="OurRef">
                                    Name of Division
                                </label>
                                @*<input type="text" placeholder="" class="form-control">*@
                                <p class="font-weight-bold"> Miri Division<br />Jabatan Kerja Raya Miri, Menara 2, Lot 3500<br />Kompleks Islam Sarawak, Miri, Jalan Pujut</p>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="OurRef">
                                    Divisional Address 1
                                </label>
                                @*<input type="text" placeholder="" class="form-control">*@
                                <p class="font-weight-bold"> Miri Division<br />Jabatan Kerja Raya Miri, Menara 2, Lot 3500<br />Kompleks Islam Sarawak, Miri, Jalan Pujut</p>
                            </div>
                            <div class="form-group col-lg-4">
                                <label for="OurRef">
                                    Divisional Address 2
                                </label>
                                @*<input type="text" placeholder="" class="form-control">*@
                                <p class="font-weight-bold"> Miri Division<br />Jabatan Kerja Raya Miri, Menara 2, Lot 3500<br />Kompleks Islam Sarawak, Miri, Jalan Pujut</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left px-3 pt-2 mb-3 border">
                <div class="row">
                    <div class="form-group col-lg-3">
                        <label for="RoadCode">Contract No</label>
                        <input type="text" placeholder="Road name" disabled value="PWD/HO/B130/2019" class="form-control" />
                    </div>-->
        @*<div class="form-group col-lg-3">
                <label for="Your Ref">
                    Service Provider's Proposal Ref No
                </label>
                <input type="text" placeholder="" class="form-control" />
            </div>
            <div class="form-group col-lg-3">
                <label for="Your Ref">
                    Service Provider Name
                </label>
                <input type="text" placeholder="" class="form-control" />
            </div>*@
        @*<div class="form-group col-lg-2">
                <div class="row mt-4">
                    <div class="col-6 pt-1">
                        <label class="checkbox-inline"><input type="checkbox" disabled="" value=""> BQ</label>
                    </div>
                    <div class="col-6 pt-1">
                        <label class="checkbox-inline"><input type="checkbox" disabled="" value=""> Drawing</label>
                    </div>
                </div>
            </div>*@
        <!--</div>
            </div>
        </div>-->
        <div class="col-lg-12">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        CERTIFICATE OF COMPLETION OF MAKING GOOD DEFECTS
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="OurRef">Our Ref / Contract No </label>
                            <input type="text" placeholder="" value="PWM/HO/B130/2019(124)" class="form-control">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Date">
                                Date
                            </label>
                            <input type="date" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Your Ref">
                                Your Ref
                            </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group  col-lg-3">
                            <label for="Your Ref">
                                Service Provider Name
                            </label>
                            <input type="text" placeholder="" class="form-control" />
                        </div>
                        @*<div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="Your Ref">
                                        Service Provider's Proposal Ref No
                                    </label>
                                    <input type="text" placeholder="" class="form-control" />
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="Your Ref">
                                        Service Provider Name
                                    </label>
                                    <input type="text" placeholder="" class="form-control" />
                                </div>
                            </div>*@
                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 1
                            </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 2
                            </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="Your Ref">
                                Address 3
                            </label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Phone">Phone Number</label>
                            <input type="text" placeholder="" value="085-431273" class="form-control">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="Fax">
                                Fax Number
                            </label>
                            <input type="text" placeholder="" value=" 085-438647" class="form-control">
                        </div>

                    </div>


                </div>

            </div>

        </div>
        <div class="col-lg-12 d-none">
            <div class="bg-white rounded landing-division w-100 float-left mb-3 border">
                <div class="col-lg-12 py-2 px-4">
                    <span class="font-14 font-weight-bold">
                        INSTRUCTED WORK
                    </span>
                </div>
                <div class="border-top px-3 pt-3 pb-1 float-left w-100">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 pl-0">
                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <label class="mb-0" for=" PhysicalWorks">
                                            S.O.'s Instruction No.
                                        </label>
                                        <input class="form-control" disabled="" type="text" value="JKR/IW/MR/20/07">
                                    </div>
                                    <div class="col-lg-12 mb-3">
                                        <label class="mb-0" for="PhysicalWorks">
                                            Date of Commencement
                                        </label>
                                        <input type="date" class="form-control">
                                    </div>
                                    @*<div class="col-lg-12 mb-3">
                                            <label class="mb-0" for="PhysicalWorks">
                                                Date of Completion
                                            </label>
                                            <input type="date" class="form-control">
                                        </div>*@
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <label class="mb-0" for="PhysicalWorks">
                                    Instructed Work Title
                                </label>
                                <textarea class="form-control" type="text" style="height:111px;"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <p class="bg-white rounded landing-division w-100 float-left mb-3 border px-4" style="line-height: 30px; font-size: 18px;">
                <span class="float-left" style="line-height: 55px;"> In accordance with <b style="padding:0px 2px;font-size:20px;">Clause 8.10.8</b> of the Agreement, it is in my opinion that the Defects has been made good on </span><span class="float-left"><input type="date" class="form-control border-top-0 border-left-0 border-right-0 font-weight-bold" value="15/05/2021" style="width:160px;float:left; margin-top:10px" /></span>
            </p>
        </div>
        <div class="col-12">
            <div class="row py-2 px-3">
                <div class="form-group col-lg-2">
                    <label for="Designation"> User ID </label>
                    <select class="form-control">
                        <option> select ID</option>
                    </select>
                </div>
                <div class="form-group col-lg-3">
                    <label for="Designation"> Name </label>
                    <input class="form-control" type="text">
                </div>
                <div class="form-group col-lg-2">
                    <label for="Designation"> Designation</label>
                    <input class="form-control " type="text">
                </div>
                <div class="form-group col-lg-2 p-0">
                    <label for="Designation"> Office</label>
                    <input class="form-control " type="text">
                </div>
                <div class="form-group col-lg-2 pr-0">
                    <label>Date (DD-MM-YYYY)</label>
                    <input type="date" class="datepicker form-control disableinput ">
                </div>
                <div class="form-group col-lg-1 text-center">
                    <label>Signature</label>
                    <div class="clear-b mt-2">
                        <input type="checkbox">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-2 float-right text-right custom-footer" style="position: fixed;
    left: auto;
    bottom: 0px;
    right: 0;
    /* top: 0; */
    background:#fff;
    width: 96%;
    height: 45px;">
    <button type="button" class="btn btn-sm btn-outline-theme" onclick="return ClearFCEM()">Clear</button>
        <button type="button" class="btn btn-sm btn-outline-theme" onclick="GoBack()">Close</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="saveFCEMBtn" onclick="return checkW2Exist()">Save</button>
    <button type="button" class="btn btn-sm btn-themebtn" id="submitFCEMBtn">Submit</button>
</div>