@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;
<style>
    tr.selected {
        background-color: #C8E1FF !important;
    }
</style>
<div class="main-container" id="container">
    <div class="content">
        <table id="FormIWGridView" class="table w-100 nowrap dataTable table-bordered">
           @* <thead style="text-align: center; color:#152e4d;background-color: #c8e1ff">
                <tr class="border-0">
                    <th colspan="3">General</th>
                    <th colspan="2">Initial Proposal</th>
                    <th colspan="3">IW Proposal</th>
                    <th colspan="8" style="text-align: center">JKR HQ Meeting</th>
                    <th colspan="3"> Extension of Time / Liquidated and Ascertained Damages</th>
                    <th colspan="5">  JKR Approval Process</th>
                    <th>Certificate of Completion of Making Good Defects</th>
                </tr>
                <tr class="border-top-0" style="text-align: center; background-color:#c8e1ff">
                    <th>IW Referece No</th>
                    <th>Project Title</th>
                    <th>Status</th>
                    <th>Initial Proposed Date</th>
                    <th> Recommendation by DE <br />(Yes / No)</th>
                    <th>W1 Date</th>
                    <th> Recommendation <br /> (Yes /No) </th>
                    <th>Estimated Ceiling Cost (RM)</th>
                    <th>TECM Date</th>
                    <th>FECM Date</th>
                    <th> Agreed Nego Price Letter <br /> (Yes / No) </th>
                    <th> Agreed Nego Price Date</th>
                    <th> Issuance of W2 IW Ref</th>
                    <th>Commencement Date</th>
                    <th>Completion Date</th>
                    <th>WD Date</th>
                    <th>New Completion Date</th>
                    <th>WN Date</th>
                    <th>Contract Period (Month)</th>
                    <th>WC Date</th>
                    <th>DLP Period(Month)</th>
                    <th>Final Amount(RM)</th>
                    <th>Site Physical Progress (%)</th>
                    <th>WG Date</th>
                </tr>
            </thead>*@
        </table>
    </div>
</div>
<!-- Jquery DataTable JS library -->
@*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>*@
<script src="~/js/CDTGrid.js"></script>
<script>
    var isModifyPerm =@security.IsPCModify(ModuleNameList.Instructed_Works).ToString().ToLowerInvariant()? "" : 'hidden';
    var isDeletePerm =@security.IsPCDelete(ModuleNameList.Instructed_Works).ToString().ToLowerInvariant()? "" : 'hidden';
    var isViewPerm = @security.IsPCView(ModuleNameList.NOD).ToString().ToLowerInvariant()? "" : 'hidden';

    var table_columns = [];
    var chkRefNoCol = {
        data: null, name: "chkBox", title: "", autoWidth: false, width: 125,  visible:true, sortable: false, render: function (data) {
            return "<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>";
        }
    };
    var w1RefNoCol = { data: "iWReferenceNo", name: "iWReferenceNo", title: "IW Ref No.", autoWidth: true, sortable: true, visible:true };
    var projectTitleCol = { data: "projectTitle", name: "ProjectTitle", title: "Project Title", autoWidth: true, sortable: true };
    var overAllStatusCol = { data: "overAllStatus", name: "Status", title: "Status", autoWidth: false, width: 150, sortable: true, class: "text-center"}
    var iniProposedDtCol = { data: "initialPropDt", name: "InitialProposedDate", title: "Initial Proposed<br/>Date", autoWidth: false, width: 150, sortable: true, class: "text-center"}  
    var recommDECol = { data: "recommdDEYN", name: "RecommendDE", title: "Recommen<br/>dation by DE<br/>(Yes / No)", autoWidth: false, width: 150, sortable: true, class:"text-center" };
    var w1DateCol = { data: "w1dt", name: "W1Date", title: "W1 Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var recommendCol = { data: "recommdYN", name: "Recommendation", title: "Recommendation<br/>(Yes/No)", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var estCellCostCol = { data: "estimatedCost", name: "estimatedCost", title: "Estimated<br/>Ceiling<br/>Cost(RM)", autoWidth: true, sortable: true, class: "text-right" };
    var w2DtCol = { data: "w2dt", name: "w2dt", title: "W2 Date", autoWidth: true, sortable: true, class: "text-right" };
    var technicalDtCol = { data: "tecmDt", type: "date", format: 'DD-MM-YYYY', name: "TechnicalDt", title: "TECM Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var financialDtCol = { data: "fecmDt", type: "date", format: 'DD-MM-YYYY', name: "FinanceDt", title: "FECM Date", autoWidth: false, width: 150, sortable: true, class: "text-center"};
    var agreeNegoCol = { data: "agreedNegoYN", name: "AgreedNegoPrice", title: "Agreed<br/>Nego<br/>Price<br/>Letter<br/>(Yes / No)", autoWidth: true, sortable: true, class: "text-center"};
    var agreeNegoPriceDtCol = { data: "agreedNegoPriceDt", name: "AgreedNegoPrice", title: "Agreed<br/>Nego<br/>Price<br/>Date", autoWidth: true, sortable: true, class: "text-center"};
    var issuW2IWRefCol = { data: "issueW2Ref", name: "IssuW2IWRef", title: "Issuance of W2 IW Ref", autoWidth: true, sortable: true };
    var commencementDtCol = { data: "commenceDt", type: "date", format: 'DD-MM-YYYY', name: "CommencementDt", title: "Commencement<br/>Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var completionDtCol = {data: "compDt", type: "date", format: 'DD-MM-YYYY', name: "CompletionDt", title: "Completion Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var wdDtCol = {data: "wdDt", type: "date", format: 'DD-MM-YYYY', name: "WDDate", title: "WD Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var newCompDtCol = {data: "newCompDt", type: "date", format: 'DD-MM-YYYY', name: "NewCompletionDate", title: "New Completion Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var wnDtCol = {data: "wnDt", type: "date", format: 'DD-MM-YYYY', name: "WNDate", title: "WN Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var contractPeriodCol = { data: "contractPeriod", name: "ContractPeriod", title: "Contract<br/>Period<br/>(Month)", autoWidth: true, sortable: true, class: "text-center" };
    var wcDtCol = {data: "wcDt", type: "date", format: 'DD-MM-YYYY', name: "WCDate", title: "WC Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };
    var dLPPeriodCol = { data: "dlpPeriod", name: "DLPPeriod", title: "DLP Period<br/>(Month)", autoWidth: true, sortable: true, class: "text-center" };
    var finalAmountCol = { data: "finalAmt", name: "FinalAmount", title: "Final Amount(RM)", autoWidth: true, sortable: true, class: "text-right" };
    var sitePhysicalCol = { data: "sitePhy", name: "SitePhysical", title: "Site<br/>Physical<br/>Progress(%)", autoWidth: true, sortable: true, class: "text-center" };
    var wgDtCol = {data: "wgDate", type: "date", format: 'DD-MM-YYYY', name: "WgDate", title: "WG Date", autoWidth: false, width: 150, sortable: true, class: "text-center" };

    table_columns.push(chkRefNoCol);
    table_columns.push(w1RefNoCol);
    table_columns.push(projectTitleCol);
    table_columns.push(overAllStatusCol);
    table_columns.push(iniProposedDtCol);
    table_columns.push(recommDECol);
    table_columns.push(w1DateCol);
    table_columns.push(recommendCol);
    table_columns.push(estCellCostCol);
    table_columns.push(w2DtCol);
    table_columns.push(technicalDtCol);
    table_columns.push(financialDtCol);
    table_columns.push(agreeNegoCol);
    table_columns.push(agreeNegoPriceDtCol);
    table_columns.push(issuW2IWRefCol);
    table_columns.push(commencementDtCol);
    table_columns.push(completionDtCol);
    table_columns.push(wdDtCol);
    table_columns.push(newCompDtCol);
    table_columns.push(wnDtCol);
    table_columns.push(contractPeriodCol);
    table_columns.push(wcDtCol);
    table_columns.push(dLPPeriodCol);
    table_columns.push(finalAmountCol);
    table_columns.push(sitePhysicalCol);
    table_columns.push(wgDtCol);


    var filterData = new Object();
    function InitializeGrid() {
        var _currentGridSettings = new CustomGridSettings();
        $.extend($.fn.dataTable.defaults, _currentGridSettings);

        filterData.SmartInputValue = $("#txtSmartSearch").val();
        filterData.IWRefNo = $("#txtIWRefNo").val();
        filterData.CommenceDtFrom = $("#txtCommenceDtFrom").text();
        filterData.CommenceDtTo = $("#txtCommenceDtTo").val().trim();
        filterData.ProjectTitle = $("#txtProjectTitle").val();
        filterData.Status = $("#txtStatus option:selected").val();
        filterData.StatusPercForm = $("#txtStPercFrom").val();
        filterData.StatusPercTo = $("#txtStPercTo").val();
        //filterData.Month = $("#txtMonth").val();
        filterData.Rmu = $("#txtRmu option:selected").val();
        filterData.RoadCode = $("#txtRoadCode option:selected").val();

        $('#FormIWGridView').DataTable({
            ajax: {
                url: "/InstructedWorks/LoadFormIWList",
                type: "POST",
                datatype: "json",
                data: {
                    filterData
                }
            },
            columns: table_columns
        });
    }

    $(document).ready(function () {

        InitializeGrid();

        $('#btnSearch').click(function () {
            FormIWGridRefresh();
        });

        var table = $('#FormIWGridView').DataTable();

        $('#FormIWGridView tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                
            }
            else {
                var selObj = table.$('tr.selected');
                selObj.children('td:first').find("span").html('');
                selObj.removeClass('selected');
                
                $(this).addClass('selected');
                $(this).children('td:first').find("span").html("<b>>></b>");
            }
        });
    });


    function FormIWGridRefresh() {
        //Apply Custom search on jQuery DataTables here

        oTable = $('#FormIWGridView').DataTable();
        oTable.columns(0).search($("#txtSmartSearch").val().trim());
        oTable.columns(1).search($("#txtIWRefNo").val().trim());
        oTable.columns(2).search($("#txtCommenceDtFrom").val().trim());
        oTable.columns(3).search($("#txtCommenceDtTo").val().trim());
        oTable.columns(4).search($("#txtProjectTitle").val().trim());
        var stsCode = $("#txtStatus option:selected").val(); //text().split("-")[0];
        if (stsCode != "") {
                oTable.columns(5).search(stsCode);
        } else {
            oTable.columns(5).search("");
        }

        oTable.columns(6).search($("#txtStPercFrom").val().trim());
        oTable.columns(7).search($("#txtStPercTo").val().trim());
        oTable.columns(8).search("");
        var rmuCode = $("#txtRmu option:selected").val(); //text().split("-")[0];
        if (rmuCode != "") {
            oTable.columns(9).search(rmuCode);
        } else {
            oTable.columns(9).search("");
        }
        var rdCode = $("#txtRoadCode option:selected").val();//text().split("-")[0];
        if (rdCode != "") {
            oTable.columns(10).search(rdCode);
        } else {
            oTable.columns(10).search("");
        }

            oTable.data = filterData;
            oTable.draw();

    }

    function clearHeaderSearch() {
        //debugger;
        $("#txtSmartSearch").val("");

        $("#txtRmu").val("").trigger("chosen:updated");
        $('#txtRoadCode').val("").trigger("chosen:updated");
        $("#txtStatus").val("").trigger("chosen:updated");

        $("#txtIWRefNo").val("");
        $("#txtCommenceDtFrom").val("");
        
        $("#txtCommenceDtTo").val("");
        $("#txtProjectTitle").val("");
        $("#txtStPercFrom").val("");
        $("#txtStPercTo").val("");
        //$("#txtMonth").val("");
        $("#txtRmuName").val("");
        $("#txtRoadName").val("");

        $("#btnSearch").click();
    }

</script>

<style>
    .headcol {
        position: sticky;
        left: 0;
    }

    td {
        text-align: left;
    }

        td .text-center {
            text-align: center
        }

        td .text-right {
            text-align: right
        }
</style>