@model RAMMS.Web.UI.Models.FormWDWNModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.TabTitle = "Form W2 -  Initiation of Instructed Work";
    ViewData["Title"] = "Form W2 - Initiation of Instructed Work";
    Layout = null;// "~/Views/Shared/_PortalLayout.cshtml";
}
<script src="~/js/FormWDWN.js" type="text/javascript"></script>
<div class="row bg-white row bg-white pt-3 pb-0" style="border-top:1px solid #dee2e6;">
    <div class="col-md-12">
        <div class="w-100 position-relative pt-2 float-left d-flex justify-content-center">
            <ul class="nav nav-tabs tabbed round">

                <li class="nav-item">
                    <a href="#list_one" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="">
                            Form WD
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#list_two" data-toggle="tab" aria-expanded="false" class="nav-link">
                        <span class="">
                            Form WN
                        </span>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="#AccordPagegallery" data-toggle="tab" aria-expanded="false" class="nav-link" onclick="javascript:GetImageList(0);">
                        <span class="">
                            Attachment
                        </span>
                    </a>
                </li>

            </ul>
            <div class="d-flex py-2 position-absolute" style="right: 0px;width: 40%; top:0px;">
                <div class="form-group mb-0 px-2" style="margin-top: -9px;">
                    IW Ref No: <input type="text" placeholder="" disabled class="form-control">
                </div>
                <div class="form-group mb-0" style="margin-top: -9px;">
                    Project Title<input type="text" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div class="row bg-white py-3">
            <div class="col-lg-12">
                <div class="tab-content mh-250">

                    <div class="tab-pane show active" id="list_one">
                        <div id="div_wdload">
                            @{
                                Html.RenderPartial("_FormWD.cshtml", Model);
                            }
                        </div>
                    </div>

                    <div class="tab-pane" id="list_two">
                        <div id="div_wnload">
                            @{
                                Html.RenderPartial("_FormWN.cshtml", Model);
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="AccordPagegallery">
                        <div id="ViewPhoto">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


   

</script>