@model FormW2Model
@inject RAMMS.Business.ServiceProvider.Interfaces.ISecurity security;

@{
    ViewBag.TabTitle = "Form W1 - Request for Instructed Work";
    ViewData["Title"] = "Form W1 - Request for Instructed Work";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";

    var isModifyPerm = security.IsPCModify(ModuleNameList.Emergency_Response_Team) ? "" : "hidden";
    var isDeletePerm = security.IsPCDelete(ModuleNameList.Emergency_Response_Team) ? "" : "hidden";
}

<div class="row">
    <div class="body-header w-100">
        <div class="col-lg-12">
            <div class="w-100 d-flex justify-content-md-between py-2 align-items-center">
                <span class="mb-0 font-weight-bold font-20">
                    Instructed Work
                </span>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-alt mb-0 bg-transparent">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">
                            Instructed Work
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="search-section">
            <div class="justify-content-center mb-1">
                <div class="search-content">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchObj.SmartInputValue, new { @Id = "txtSmartSearch", placeholder = "Search...", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="btn-group">
                                <button id="btnSearch" type="button" class="bg-theme-color js-tooltip-enabled px-2 border-0" style="line-height: 18px;"><span class="search-icon"></span></button>
                                <button id="btnAdvSearch" type="button" class="bg-theme-color js-tooltip-enabled px-3 border-0" data-toggle="collapse" data-target="#div_advsearch"><span class="filter-icon"></span></button>
                                <button id="btnClearSearch" type="button" onclick="" class="bg-theme-color js-tooltip-enabled px-3 border-0 rounded-right">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="div_advsearch" class="collapse">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="bg-white rounded float-left pt-3 pb-1 px-lg-3 px-md-2 advance-search-group w-100">
                                <div class="form-group">
                                    <label for="IW_Reference">IW Reference No.</label>
                                    <input class="form-control" type="text" id="txtIWRefNo">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Commence Date From</label>
                                    <input class="form-control" type="date" id="txtCommenceDtFrom">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Commence Date To</label>
                                    <input class="form-control" type="date" id="txtCommenceDtTo">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Project Title</label>
                                    <input class="form-control" type="text" id="txtProjectTitle">
                                </div>
                                <div class="form-group">
                                    <label for="C_Date">Status</label>
                                    <select class="form-control" id="txtStatus">
                                        <option value=""> Select Status</option>
                                    </select>
                                </div> <div class="form-group">
                                    <label for="status_percentage">Status Percentage</label>
                                    <input class="form-control" type="number" id="txtStPerc">
                                </div>
                                <div class="form-group">
                                    <label for="month">Month</label>
                                    <input class="form-control" type="number" id="txtMonth">
                                </div>
                                <div class="form-group">
                                    <label for="month">RUM</label>
                                    <input class="form-control" type="text" id="txtRmu">
                                </div>
                                <div class="form-group">
                                    <label for="month">RUM Name</label>
                                    <input class="form-control" type="text" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="month">Road Code</label>
                                    <input class="form-control" type="text" id="txtRoadCode">
                                </div>
                                <div class="form-group">
                                    <label for="month">Road Name</label>
                                    <input class="form-control" type="text" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->
<div class="row p-0">
    <div class="col-12">
        <div class="col-12 text-right">
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false">
                    PROPOSED IW
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" data-toggle="modal" onclick="OpenFormW1('Add')">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" data-toggle="modal"  onclick="OpenFormW1('Edit')">
                        <span class="edit-icon"></span>Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" data-toggle="modal"  onclick="OpenFormW1('View')">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1">
                        <span class="print-icon"></span> Print
                    </button>
                </div>
            </div>
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false">
                    IW TECM & FECM
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" data-toggle="modal" onclick="OpenFormW2('Add',0)">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" data-toggle="modal" onclick="OpenFormW2('Edit',0)">
                        <span class="edit-icon"></span>   Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1" data-toggle="modal" data-target="#formW2" onclick="OpenFormW2('View',1)">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1">
                        <span class="print-icon"></span> Print
                    </button>
                </div>
            </div>
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false">
                    IW IN PROGRESS
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="edit-icon"></span>   Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1">
                        <span class="print-icon"></span> Print
                    </button>
                </div>
            </div>
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false">
                    EOT / LAD
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="edit-icon"></span>   Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1">
                        <span class="print-icon"></span> Print
                    </button>
                </div>
            </div>
            <div class="btn-group dropbottom" id="actiondropdown">
                <button id="actionclick" type="button" class="btn btn-sm btn-themebtn dropdown-toggle font-12" data-toggle="dropdown" aria-expanded="false">
                    COMPLETED IW
                </button>
                <div class="dropdown-menu">
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="add-icon"></span> Add
                    </button>
                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="edit-icon"></span>   Edit
                    </button>

                    <button type="button" class="dropdown-item editdel-btns border-bottom py-1 px-1">
                        <span class="view-icon"></span> View
                    </button>
                    <button type="button" class="dropdown-item editdel-btns py-1 px-1">
                        <span class="print-icon"></span> Print
                    </button>
                </div>
            </div>
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading float-right mb-2">

                </div>
                <div class="panel-body">
                    <div class="tab-content">

                        <!-- Other panes here -->
                        <div class="py-2">

                            <div class="w-100 float-left position-relative">
                                <div class="w-100 dt-tbl-section">
                                    <div class="main-container">
                                        <div class="table-responsive">
                                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                <div class="top p-1">
                                                    @*Pagination will come here*@
                                                </div>
                                                <main id="main-container" class="row">
                                                    <div class="col-lg-12">
                                                        <div class="w-100 float-left position-relative">
                                                            @*Form IW Grid*@
                                                            <div id="headerListGrid" class="w-100 dt-tbl-section">
                                                                @{
                                                                    Html.RenderPartial("_HeaderListGrid.cshtml");
                                                                }
                                                            </div>

                                                        </div>
                                                    </div>
                                                </main>

                                                <div class="bottom d-flex justify-content-md-between">
                                                    @*Data Tables Info*@

                                                </div><div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="formW1" role="dialog">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"  id="formW1Content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="formW2" role="dialog">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" id="formW2Content">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtSmartSearch").on("keypress", function (e) {
            if (e.which == 13) {
                $("#btnSearch").click();
            }
        });
    });

    function GetFormIDByName(formName) {
        var value = 0;
        var table = $('#FormIWGridView').DataTable();
        var checkedcollection = table.$(".chkbox:checked", { "page": "all" });
        if (checkedcollection.length == 1) {
            // data - target="#formW2"
            value = checkedcollection.attr(formName);
        }
        else {
            app.ShowErrorMessage("Kindly select one row to open the " + formName + " Form");
            value = -1;
        }
        return value;
    }

    function OpenFormW1(mode) {
       
        var SelectedIWGridId = 0;
        
        if (mode == "Add") {
            url = "/InstructedWorks/AddFormW1";
        }
        else if (mode == "Edit") {
           
            SelectedIWGridId = GetFormIDByName("w1");
            url = "/InstructedWorks/EditFormW1?id=" + SelectedIWGridId;
        }
        else if (mode == "View") {
            SelectedIWGridId = GetFormIDByName("w1");
            url = "/InstructedWorks/EditFormW1?id=" + SelectedIWGridId;
        }
        InitAjaxLoading();
        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                $("#formW1").modal('show');
                $("#formW1Content").html(data);
                HideAjaxLoading();
            },
            error: function (data) {
                alert(data.responseText);
                HideAjaxLoading();
            }

        });
    }

    function OpenFormW2(mode, view) {
        InitAjaxLoading();
        var url = '', id;
        if (mode == 'Add') {
            url = '/InstructedWorks/AddFormW2';
        }
        else {
            id = GetFormIDByName("w2");
            if (id > 0 && id != null)
                url = '/InstructedWorks/EditFormW2?id=' + id + (view == 1 ? '&view=1' : '');
        }

        if (url == '') {
            app.ShowErrorMessage('Form W2 was not intiated');
            url = '/InstructedWorks/AddFormW2';
        }
        $.ajax({
            url: url,
            type: 'POST',
            success: function (data) {
                $("#formW2").modal('show');
                $("#formW2Content").html(data);
                HideAjaxLoading();
            },
            error: function (data) {
                app.ShowErrorMessage(data.responseText);
                HideAjaxLoading();
            }

        });

        return true;
    }
</script>
